<!-- Modal -->

<div class="modal fade" id="commentModal{{ postID }}" tabindex="-1" role="dialog" aria-labelledby="commentModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Comments</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{% url 'forum:createComment'  postID  %}" method="POST">
                    {% csrf_token %}
                    <label for="Comment"></label>
                    <textarea id="Comment"  name="Comment" style="width: 100%;margin-bottom: 1em; "></textarea>
                    <input class="btn btn-primary" type="submit" value="Submit">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>


            </div>
        </div>
    </div>
</div>